@import 'src/assets/styles/mixins/font-scale';

$Z-INDEX-POPUP: 10;

.popover-wrapper {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.popover {
  display: block;
  position: absolute;
  z-index: 10;
  font-family: var(--rp-ui-base-font-family);
  @include font-scale(s-small);
  background-color: var(--rp-ui-color-bg);
  border-radius: 8px;
  box-shadow: var(--rp-ui-base-shadow-secondary);
  padding: 16px;
  min-height: 52px;
  min-width: 120px;
  max-width: fit-content;
  box-sizing: border-box;
  outline: 0;
  width: max-content;
  color: var(--rp-ui-color-text);
}

.title {
  font-family: var(--rp-ui-base-font-family-heading);
  font-weight: var(--rp-ui-base-fw-bold);
  @include font-scale();
  margin-bottom: 8px;
}
