@import 'src/assets/styles/mixins/font-scale';

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 24px 0;

  font-family: var(--rp-ui-base-font-family);
  font-weight: var(--rp-ui-base-fw-regular);
  @include font-scale();
  color: var(--rp-ui-base-almost-black);
}
