@import '../../assets/styles/mixins/font-scale';

.radio-button {
  display: flex;
  align-items: center;
  height: 100%;
  outline: none;
  cursor: pointer;
  padding-bottom: 4px;

  &.disabled {
    cursor: default;

    .children-container {
      color: var(--rp-ui-base-e-300);
    }

    .toggler {
      opacity: 0.3;

      &::after {
        background-color: transparent;
      }

      &.checked::after {
        background-color: var(--rp-ui-base-topaz-pressed);
      }
    }
  }

  &:focus-visible:not(.disabled) .toggler {
    border: 2px solid var(--rp-ui-color-primary-focused);
  }
}

.input {
  display: none;
}

.toggler {
  display: flex;
  width: 16px;
  height: 16px;
  min-width: 16px;
  box-sizing: border-box;
  margin: auto 10px auto 0;
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  line-height: 18;
  border-color: var(--rp-ui-color-field-border-2);

  &::after {
    width: 8px;
    height: 8px;
    content: '';
    display: block;
    border-radius: 100%;
    margin: auto;
    background-color: var(--rp-ui-color-radio-checked);
    opacity: 0;
    transform: scale(0.5);
    transition: transform 0.2s, opacity 0.2s;
  }

  &:hover:not(.disabled) {
    border-color: var(--rp-ui-color-field-border-2-hover);

    &::after {
      background-color: var(--rp-ui-color-primary-hover);
    }
  }

  &.checked,
  &.disabled {
    &::after {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.children-container {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  font-family: var(--rp-ui-base-font-family);
  font-weight: var(--rp-ui-base-fw-medium);
  @include font-scale();
  word-break: break-all;
  text-overflow: ellipsis;
  color: var(--rp-ui-color-text);

  & a {
    text-decoration: none;
    color: var(--rp-ui-base-topaz);
  }

  & a:focus,
  & a:focus-visible {
    outline: none;
    color: var(--rp-ui-base-topaz-focused);
    text-decoration: underline;
  }
}
