.bubbles-loader {
  display: flex;
  align-items: center;
  gap: 1px;

  &.color-topaz .bubble {
    background-color: var(--rp-ui-base-dark-topaz-main);
  }

  &.bubbles-large {
    gap: 2px;

    .bubble {
      width: 13.5px;
      height: 13.5px;
    }
  }
}

.bubble {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--rp-ui-base-bg-000);
  transform: scale(0.3);
  animation: bubbles 2.5s infinite linear;
}

.bubble:nth-child(1) {
  animation-delay: 0.1s;
}

.bubble:nth-child(2) {
  animation-delay: 0.3s;
}

.bubble:nth-child(3) {
  animation-delay: 0.5s;
}

.bubble:nth-child(4) {
  animation-delay: 0.7s;
}

.bubble:nth-child(5) {
  animation-delay: 0.9s;
}

.bubble:nth-child(6) {
  animation-delay: 1.1s;
}

.bubble:nth-child(7) {
  animation-delay: 1.3s;
}

@keyframes bubbles {
  20%,
  60% {
    transform: scale(0.5);
  }
  40% {
    transform: scale(1);
  }
}
