@import 'src/assets/styles/mixins/font-scale';

.system-alert {
  display: flex;
  box-sizing: border-box;
  min-width: 100%;
  max-width: 600px;
  padding: 16px;
  gap: 16px;
  border-radius: 16px;
  justify-content: space-between;
  box-shadow: var(--rp-ui-base-shadow-secondary);

  &--black {
    svg path {
      fill: var(--rp-ui-base-almost-black) !important;
    }
  }

  &.error {
    background-color: var(--rp-ui-base-sm-error);
  }

  &.success {
    background-color: var(--rp-ui-base-test-execution-status-passed);
  }

  &.info {
    background-color: var(--rp-ui-base-no-defect-bug-group);
  }

  &.warning {
    background-color: var(--rp-ui-base-defect-type-AB);
  }

  .icon-wrapper {
    width: 20px;
    height: 24px;
    display: grid;
    place-content: center;
  }

  .content-wrapper {
    display: flex;
    gap: 16px;
    flex-direction: column;
    flex: 1;
    min-width: 0;

    .title {
      text-align: start;
      font-family: var(--rp-ui-base-font-family);
      @include font-scale(x2-medium);
      font-weight: var(--rp-ui-base-fw-semi-bold);
      display: -webkit-box;
      max-width: 100%;
      margin: 0;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      overflow-wrap: anywhere;

      &--white {
        color: var(--rp-ui-base-bg-000);
      }

      &--black {
        color: var(--rp-ui-base-almost-black);
      }
    }
  }

  .close-button {
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;

    svg {
      path {
        fill: var(--rp-ui-base-bg-000);
      }
    }
  }
}
