@import 'src/assets/styles/mixins/font-scale';

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  padding: 7px 16px;
  margin: 0;
  outline: none;
  border-radius: 3px;
  font-family: var(--rp-ui-base-font-family);
  font-weight: var(--rp-ui-base-fw-medium);
  @include font-scale();
  cursor: pointer;
  box-sizing: border-box;
}

.primary {
  border: 1px solid var(--rp-ui-color-primary);
  background-color: var(--rp-ui-color-primary);
  color: var(--rp-ui-base-bg-000);
  &:hover:not(.disabled) {
    border: 1px solid var(--rp-ui-color-primary-hover);
    background-color: var(--rp-ui-color-primary-hover);
  }
  &:active:not(.disabled) {
    border: 1px solid var(--rp-ui-color-primary-pressed);
    background-color: var(--rp-ui-color-primary-pressed);
  }
  &:focus:not(.disabled, :active) {
    border: 2px solid var(--rp-ui-color-primary-focused);
  }
  svg * {
    fill: var(--rp-ui-base-bg-000);
  }
}

.ghost {
  border: 1px solid var(--rp-ui-color-primary);
  background-color: transparent;
  color: var(--rp-ui-color-primary-text);
  &:hover:not(.disabled) {
    border: 1px solid var(--rp-ui-base-dark-topaz-hover);
    color: var(--rp-ui-base-dark-topaz-hover);
  }
  &:active:not(.disabled) {
    border: 1px solid var(--rp-ui-color-primary-pressed);
    color: var(--rp-ui-color-primary-pressed);
  }
  &:focus:not(.disabled, :active) {
    border: 2px solid var(--rp-ui-color-primary-focused);
    color: var(--rp-ui-color-primary-focused);
  }
  svg * {
    fill: var(--rp-ui-color-primary-text);
  }
}

.danger {
  border: 1px solid var(--rp-ui-color-error);
  background-color: var(--rp-ui-color-error);
  color: var(--rp-ui-base-bg-000);
  &:hover:not(.disabled) {
    opacity: 0.9;
    background-color: var(--rp-ui-color-error-hover);
  }
  &:active:not(.disabled) {
    border: 1px solid var(--rp-ui-color-error-pressed);
    background-color: var(--rp-ui-color-error-pressed);
  }
  &:focus:not(.disabled, :active) {
    border: 2px solid var(--rp-ui-color-error-focused);
  }
  svg * {
    fill: var(--rp-ui-base-bg-000);
  }
}

.text {
  min-width: auto;
  height: auto;
  border: 0;
  padding: 2px 0px 0px;
  background: none;
  line-height: 22px;
  color: var(--rp-ui-color-primary-text);
  &:hover:not(.disabled) {
    color: var(--rp-ui-color-primary-hover);
    svg * {
      fill: var(--rp-ui-color-primary-hover);
    }
  }
  &:active:not(.disabled) {
    color: var(--rp-ui-color-primary-pressed);
    svg * {
      fill: var(--rp-ui-color-primary-pressed);
    }
  }
  &:focus:not(.disabled, :active) {
    border: 2px solid var(--rp-ui-color-primary-focused);
    color: var(--rp-ui-color-primary-focused);
    svg * {
      fill: var(--rp-ui-color-primary-focused);
    }
  }
  svg * {
    fill: var(--rp-ui-color-primary-text);
  }
}

.ghost-danger {
  border: 1px solid var(--rp-ui-color-error);
  background-color: transparent;
  color: var(--rp-ui-color-error);
  &:hover:not(.disabled) {
    border: 1px solid var(--rp-ui-color-error-hover);
    color: var(--rp-ui-color-error-hover);
  }
  &:active:not(.disabled) {
    border: 1px solid var(--rp-ui-color-error-pressed);
    color: var(--rp-ui-color-error-pressed);
  }
  &:focus:not(.disabled, :active) {
    border: 2px solid var(--rp-ui-color-error-focused);
  }
  svg * {
    fill: var(--rp-ui-color-error);
  }
}

.text-danger {
  min-width: auto;
  height: auto;
  border: 0;
  padding: 2px 0px 0px;
  background: none;
  line-height: 22px;
  color: var(--rp-ui-color-error);
  &:hover:not(.disabled) {
    color: var(--rp-ui-color-error-hover);
    svg * {
      fill: var(--rp-ui-color-error-hover);
    }
  }
  &:active:not(.disabled) {
    color: var(--rp-ui-color-error-pressed);
    svg * {
      fill: var(--rp-ui-color-error-pressed);
    }
  }
  &:focus:not(.disabled, :active) {
    border: 2px solid var(--rp-ui-color-error-focused);
  }
  svg * {
    fill: var(--rp-ui-color-error);
  }
}

.disabled {
  opacity: var(--rp-ui-opacity-default);
  cursor: default;
}

.width-min-width {
  min-width: 120px;
}

// Matches defaults, but defined here for CSS modules classname generation
.width-content {
  min-width: auto;
}

.width-wide-content {
  padding: 9px 47px 7px;
  margin: 0;
}

.width-parent {
  display: flex;
  width: 100%;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.icon-start {
  margin: auto 8px auto 0;
}

.icon-end {
  margin: auto 0 auto 8px;
  order: 1;
}
