.buttons-block {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.button-container {
  display: inline-block;
  min-width: 70px;
}

.modal-footer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 16px;

  &.with-extra-node {
    justify-content: space-between;
  }
}

.size-small {
  flex-direction: column;
  align-items: stretch;

  .buttons-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .button-container {
    margin: 0 0 10px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
