@import 'src/assets/styles/variables/typography';
@import 'src/assets/styles/mixins/font-scale';

@mixin fill-svg($color) {
  svg {
    fill: $color;

    & > rect {
      fill: $color;
    }
  }
}

@mixin fill-svg-path($color) {
  svg {
    & > path {
      fill: $color;
    }
  }
}

@mixin asterisk() {
  position: absolute;
  top: -3px;
  color: var(--rp-ui-base-e-300);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 22px;
  height: 22px;
}

.icon-container-start {
  @extend .icon-container;
  margin-right: 4px;

  .collapsed & {
    cursor: pointer;
  }
}

.icon-container-end {
  @extend .icon-container;
  margin-left: 4px;
}

.label {
  display: block;
  margin-bottom: 4px;
  font-family: var(--rp-ui-base-font-family);
  font-weight: $fw-medium;
  @include font-scale();
  color: var(--rp-ui-color-text);

  .asterisk {
    @include asterisk();
    padding-left: 4px;
  }

  &.disabled {
    pointer-events: none;
    background-color: var(--rp-ui-base-bg-100);
  }
}

.field {
  display: flex;
  align-items: center;
  height: 36px;
  width: 100%;
  padding: 7px 12px;
  box-sizing: border-box;
  border: 1px solid var(--rp-ui-color-field-border-3);
  border-radius: 3px;
  background-color: var(--rp-ui-color-field-bg-3);
  transition: width 200ms, padding 200ms, border 100ms;

  &.default-width {
    width: 240px;
  }

  &.collapsed {
    width: 22px;
    border-width: 0;
    overflow: hidden;
    padding: 0;

    .placeholder {
      display: none;
    }
  }

  &:hover:not(.disabled) {
    border-color: var(--rp-ui-color-field-border-3-hover);
    background-color: var(--rp-ui-color-field-bg-3-hover);
  }

  &:focus-within:not(.error.touched) {
    padding: 6px 11px;
    border: 2px solid var(--rp-ui-color-primary-focused);
  }

  &.error.touched {
    border-color: var(--rp-ui-base-error);
  }

  &.disabled {
    pointer-events: none;
    background-color: var(--rp-ui-base-bg-100);

    .placeholder {
      color: var(--rp-ui-base-e-300);
    }
  }
}

.input-container {
  position: relative;
  width: 100%;

  &.type-password {
    .input {
      width: calc(100% - 30px);
      text-overflow: unset;
    }
    .eye-icon {
      position: absolute;
      z-index: 2;
      top: 4px;
      right: 6px;
      height: 16px;
      width: 16px;
    }
  }
}

.input {
  @include font-scale();
  font-family: var(--rp-ui-base-font-family);
  font-weight: $fw-regular;
  width: 100%;
  margin: 2px 0 0 0;
  padding: 0;
  border: none;
  background: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--rp-ui-color-text-3);

  &:focus {
    outline: none;
  }

  &:disabled {
    color: var(--rp-ui-base-e-300);
  }
}

.placeholder {
  @include font-scale();
  font-family: var(--rp-ui-base-font-family);
  font-weight: $fw-regular;
  color: var(--rp-ui-color-field-placeholder-3);
  position: absolute;
  top: 2px;
  left: 0;
  pointer-events: none;
  white-space: nowrap;

  .asterisk:after {
    @include asterisk();
    right: -7px;
    content: '*';
    color: var(--rp-ui-base-error-focused);
  }
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.start-icon,
.clear-icon {
  @extend .icon;

  background: none;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  cursor: pointer;
  @include fill-svg-path(var(--rp-ui-color-field-icon));

  &.disabled {
    pointer-events: none;
  }

  &:hover {
    @include fill-svg-path(var(--rp-ui-color-field-hover-2));
  }

  &:focus {
    @include fill-svg-path(var(--rp-ui-color-primary-focused));
  }

  &:active {
    @include fill-svg-path(var(--rp-ui-color-primary-pressed));
  }
}

.additional-content {
  margin-top: 4px;

  &.disabled {
    pointer-events: none;
  }
}

.text,
.max-length-display {
  @include font-scale(s-small);
  font-family: var(--rp-ui-base-font-family);
  font-weight: $fw-regular;
}

.text {
  display: block;
}

.max-length-display {
  margin-left: 15px;
  align-self: end;
  color: var(--rp-ui-base-e-300);
}

.error-text {
  color: var(--rp-ui-base-error);
}

.help-text {
  color: var(--rp-ui-base-dark-e-300);
}
