.page-size-control {
  display: flex;
  justify-content: flex-end;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.size-selector-button {
  margin-right: 4px;
  font-weight: var(--rp-ui-base-fw-bold);
}
