.page-navigator {
  display: flex;
  gap: 16px;
  align-items: center;
}

.page-buttons {
  display: inline-flex;
  gap: 16px;
}

.page-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 2px;

  &.next {
    transform: rotateY(180deg);
  }

  &:focus {
    border: 2px solid var(--rp-ui-color-primary-focused);
    padding: 0;
  }
}
