@import 'src/assets/styles/mixins/font-scale';

$WIDTH-SMALL: 320px;
$WIDTH-DEFAULT: 480px;
$WIDTH-LARGE: 720px;
$SCROLLBAR-WIDTH: 12px;

// TODO: Discuss with UX team. There are no designs for the dark theme, so the theme-independent CSS properties are used

@mixin modalWidth($width) {
  width: $width;

  @media (max-width: $width) {
    right: 10px;
    left: 10px;
    transform: none;
    width: auto;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.overlay-default {
  background-color: var(--rp-ui-base-overlay);
}

.overlay-light-cyan {
  background-color: var(--rp-ui-base-overlay-light-cyan);
}

.scrolling-content {
  position: fixed;
  width: 100%;
  height: 100%;
}

.modal-window {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: inline-block;
  margin-bottom: 10px;
  padding: 32px 40px;
  box-sizing: border-box;
  background-color: var(--rp-ui-base-bg-100);
  text-align: left;
  border-radius: 16px;
  box-shadow: var(--rp-ui-base-shadow-secondary);
  opacity: 1;
  outline: none;
  max-height: 90%;
}

.description {
  display: inline-block;
  width: 100%;
  padding-bottom: 24px;
  font-family: var(--rp-ui-base-font-family);
  font-weight: var(--rp-ui-base-fw-regular);
  @include font-scale();
  color: var(--rp-ui-base-almost-black);
}

.scrollable-wrapper {
  margin-right: -$SCROLLBAR-WIDTH;
}

.scrollable-content {
  padding-right: $SCROLLBAR-WIDTH;
}

.scrollbars-scroll-view {
  z-index: 101;
}

.scrollbars-scroll-track {
  z-index: 100;
}

.size-default {
  @include modalWidth($WIDTH-DEFAULT);
}

.size-small {
  @include modalWidth($WIDTH-SMALL);
}

.size-large {
  @include modalWidth($WIDTH-LARGE);
}
