@import 'src/assets/styles/mixins/font-scale';

.modal-header {
  position: relative;
  font-family: var(--rp-ui-base-font-family);
  font-weight: var(--rp-ui-base-fw-regular);
  @include font-scale(x4-medium);
  color: var(--rp-ui-color-text);
  padding-bottom: 24px;

  &.width-description {
    padding-bottom: 8px;
  }
}

.modal-header-content {
  width: 100%;
  padding-right: 30px;
  box-sizing: border-box;
}

.modal-title {
  font-family: var(--rp-ui-base-font-family-heading);
  flex-grow: 1;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.close-modal-icon {
  position: absolute;
  top: 6px;
  right: 0;
  line-height: normal;
  cursor: pointer;
}
