@import 'src/assets/styles/mixins/font-scale';

.dropdown-option {
  display: flex;
  font-family: var(--rp-ui-base-font-family);
  font-weight: var(--rp-ui-base-fw-regular);
  @include font-scale();
  box-sizing: border-box;
  cursor: pointer;
  color: var(--rp-ui-color-text-3);
  padding: 9px 12px 7px;

  &.disabled {
    pointer-events: none;
    background-color: var(--rp-ui-color-field-bg-2);
  }

  &.hidden {
    display: none;
  }

  &:hover:not(:active) {
    background: var(--rp-ui-color-bg-3);
  }

  &.hover:not(.disabled) {
    padding: 8px 11px 6px;
    background-color: var(--rp-ui-color-bg-3);
    border: 1px solid var(--rp-ui-color-primary-focused);
  }

  &.hover:not(.disabled):hover {
    &:hover:not(:active) {
      background: var(--rp-ui-color-bg-3);
    }
    border: none;
    padding: 9px 12px 7px;
  }

  &.selected:not(.multi-select) {
    background: var(--rp-ui-base-topaz-100);
    color: var(--rp-ui-base-topaz);
  }
}

.single-option {
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sub-option {
  padding-left: 24px;
}
