@import 'src/assets/styles/mixins/font-scale';

$DAY_OF_THE_WEEK_Z_INDEX: 3;
$DAY_OF_THE_WEEK_HOVERED_Z_INDEX: 2;
$POPOVER_Z_INDEX: 10;

@mixin setMonthContainerProperties {
  .react-datepicker__month-container {
    width: 100%;
    height: 100%;
    float: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include setCustomHeaderProperties;
    @include setMothProperties;
  }
}

@mixin setCustomHeaderProperties {
  .react-datepicker__header.react-datepicker__header--custom {
    width: 100%;
    background-color: var(--rp-ui-base-bg-000);
    border-bottom: none;
    padding: 0;
    @include setDaysNameOfTheWeekProperties;
  }
}

@mixin setMothProperties {
  .react-datepicker__month {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    row-gap: 8px;
    @include setDaysDigitsContainerProperties;
  }
}

@mixin setDaysDigitsContainerProperties {
  .react-datepicker__week {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--rp-ui-base-font-family);
    color: var(--rp-ui-base-dark-e-500);
    @include font-scale();

    .react-datepicker__day--range-end:first-child:before {
      display: none;
    }
  }

  .react-datepicker__day {
    cursor: pointer;

    &--in-selecting-range {
      &:not(.react-datepicker__day--selecting-range-end, .react-datepicker__day--selecting-range-start, .react-datepicker__day--range-start, .react-datepicker__day--range-end) {
        background-color: var(--rp-ui-base-bg-200);
        height: 32px;
        line-height: 32px;
        position: relative;
      }
    }

    &--selected {
      position: relative;
      @include setHoverState(var(--rp-ui-base-topaz));
      color: var(--rp-ui-base-bg-000);
    }

    &--outside-month {
      &:not(.react-datepicker__day--range-start, .react-datepicker__day--range-end, .react-datepicker__day--selecting-range-start, .react-datepicker__day--selecting-range-end, .react-datepicker__day--selected) {
        color: var(--rp-ui-color-text-secondary);
      }
    }

    &--today {
      font-weight: var(--rp-ui-base-fw-bold);

      &:not(.react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__day--selected, .react-datepicker__day--selecting-range-end, .react-datepicker__day--selecting-range-start) {
        border-radius: 4px;
        background-color: var(--rp-ui-base-topaz-100);
      }

      &:not(.react-datepicker__day--range-start, .react-datepicker__day--range-end, .react-datepicker__day--selecting-range-start, .react-datepicker__day--selected) {
        color: var(--rp-ui-base-topaz);
      }
    }
  }

  .react-datepicker__day--disabled {
    cursor: default;
    opacity: 0.3;

    &:hover {
      border: none !important;
      line-height: 40px !important;
    }
  }
}

@mixin setDaysNameOfTheWeekProperties {
  .react-datepicker__day-names {
    display: flex;
    height: 40px;
    justify-content: space-between;
    font-family: var(--rp-ui-base-font-family);
    font-weight: var(--rp-ui-base-fw-bold);
    @include font-scale();
    color: var(--rp-ui-base-dark-e-500);
    vertical-align: middle;

    .react-datepicker__day-name {
      width: 40px;
      text-align: center;
    }
  }
}

@mixin removeAriaLive {
  .react-datepicker__aria-live {
    display: none;
  }
}

@mixin setHoverState($backgroundColor) {
  border-radius: 4px;
  border: 1px solid var(--rp-ui-base-topaz);
  background-color: $backgroundColor;
  line-height: 38px;
}

@mixin removeOutline {
  &:focus-visible {
    outline: none;
  }
}

@mixin verticalAlign($height) {
  height: $height;
  line-height: $height;
}

:global {
  @include removeAriaLive;
}

.calendar {
  box-sizing: border-box;
  background-color: var(--rp-ui-base-bg-000);
  width: 344px;
  padding: 30px 32px 32px;
  border-radius: 8px;
  box-shadow: 0px 8px 40px var(--rp-ui-base-dark-bg-light);
  border: none;
  margin-top: 4px;

  :global {
    @include setMonthContainerProperties;
  }

  .current-date,
  .date {
    width: 40px;
    margin: 0;
    box-sizing: border-box;
    @include verticalAlign(40px);
    @include removeOutline;
  }

  .date.date {
    background-color: transparent;
    border-radius: unset;
    color: inherit;
    text-align: center;

    &.current-date,
    &.current-date:hover,
    &.end-date,
    &.end-date:hover {
      position: relative;
      z-index: $DAY_OF_THE_WEEK_Z_INDEX;
      font-weight: var(--rp-ui-base-fw-bold);
      @include setHoverState(var(--rp-ui-base-topaz));
      color: var(--rp-ui-base-bg-000);
    }
  }

  .date:hover:not(.current-date):not(.selected-range):not(.end-date) {
    @include setHoverState(transparent);
  }

  .date.selected-range {
    background-color: var(--rp-ui-base-bg-200);
    @include verticalAlign(32px);
    position: relative;

    &:hover {
      border-radius: 4px;
      border: 1px solid var(--rp-ui-base-topaz);
      background-color: var(--rp-ui-base-bg-200);
      line-height: 38px;
      height: 40px;
    }
  }

  .date.disabled {
    color: var(--rp-ui-base-e-400);
    background-color: transparent;
    opacity: 0.3;
    @include removeOutline;
  }
}

.popper {
  z-index: $POPOVER_Z_INDEX;
}

.input {
  width: 100%;
  min-width: 138px;
  background: url('/src/components/icons/svg/calendar.svg') no-repeat right 12px center;
  background-size: 16px 16px;
  cursor: pointer;

  input {
    cursor: pointer;
  }
}

.input-range {
  min-width: 220px;
}
