@import 'src/assets/styles/mixins/font-scale';

@mixin checked-state($color) {
  border-color: $color;
  background-color: $color;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 4.25L4.5 7.25L10.5 0.75' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
}

@mixin partially-checked-state($border-color, $rect-fill, $background-fill: 'transparent') {
  border-color: $border-color;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $background-fill;

  &::after {
    content: '';
    display: block;
    width: 8px;
    height: 2px;
    border-radius: 1px;
    background-color: $rect-fill;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: 24px;
  color: var(--rp-ui-color-text-2);
  font-family: var(--rp-ui-base-font-family);
  font-weight: var(--rp-ui-base-fw-medium);
  @include font-scale();

  .disabled {
    opacity: var(--rp-ui-opacity-default);
    pointer-events: none;
  }
}

.input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.control {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid var(--rp-ui-color-field-border-2);
  border-radius: 3px;
  margin-left: -24px;
  box-sizing: border-box;
  cursor: pointer;
}

.input {
  &:checked + .control {
    @include checked-state(var(--rp-ui-color-primary));
  }
  &:hover + .control {
    border-color: var(--rp-ui-color-field-hover-2);
  }
  &:active:not(:disabled) + .control {
    border: 2px solid var(--rp-ui-color-primary-focused);
  }
  &:checked:hover + .control {
    @include checked-state(var(--rp-ui-color-primary-hover));
  }
  &:checked:active:not(:disabled) + .control {
    @include checked-state(var(--rp-ui-color-primary-focused));
  }
  &:disabled + .control {
    border-color: var(--rp-ui-color-field-border-2-disabled);
    cursor: not-allowed;
    pointer-events: auto;
  }
  &:checked:disabled + .control {
    @include checked-state(var(--rp-ui-color-primary));
    opacity: var(--rp-ui-opacity-default);
    pointer-events: none;
  }
  &:focus-visible + .control {
    border: 2px solid var(--rp-ui-color-primary-focused);
  }

  &.partially-checked:not(:checked) {
    & + .control {
      @include partially-checked-state(
        var(--rp-ui-color-primary),
        var(--rp-ui-color-bg),
        var(--rp-ui-color-primary)
      );
    }

    &:hover + .control {
      @include partially-checked-state(
        var(--rp-ui-color-primary-focused),
        var(--rp-ui-color-bg),
        var(--rp-ui-color-primary-focused)
      );
    }

    &:active:not(:disabled) + .control {
      @include partially-checked-state(
        var(--rp-ui-color-primary-focused),
        var(--rp-ui-color-field-border-2),
        var(--rp-ui-color-primary-focused)
      );
    }
    &:disabled + .control {
      @include partially-checked-state(
        var(--rp-ui-color-primary),
        var(--rp-ui-color-field-border),
        var(--rp-ui-color-primary)
      );
    }
  }
}

.children {
  cursor: pointer;

  & a {
    text-decoration: none;
    color: var(--rp-ui-color-primary);
  }

  & a:focus,
  & a:focus-visible {
    outline: none;
    color: var(--rp-ui-color-primary-focused);
    text-decoration: underline;
  }
}
