.rp-ui-kit-theme-dark {
  --rp-ui-color-bg: var(--rp-ui-base-dark-bg);
  --rp-ui-color-bg-2: var(--rp-ui-base-dark-e-500);
  --rp-ui-color-bg-3: var(--rp-ui-base-dark-bg-solid-98);

  --rp-ui-color-primary: var(--rp-ui-base-dark-topaz-main);
  --rp-ui-color-primary-hover: var(--rp-ui-base-dark-topaz-hover);
  --rp-ui-color-primary-focused: var(--rp-ui-base-dark-topaz-focused);
  --rp-ui-color-primary-pressed: var(--rp-ui-base-dark-topaz-pressed);
  --rp-ui-color-primary-text: var(--rp-ui-base-dark-topaz-text);

  // TODO: Discuss with UX team these colors for dark theme
  --rp-ui-color-error: var(--rp-ui-base-dark-error);
  --rp-ui-color-error-hover: var(--rp-ui-base-error-hover);
  --rp-ui-color-error-pressed: var(--rp-ui-base-error-pressed);
  --rp-ui-color-error-focused: var(--rp-ui-base-error-focused);

  --rp-ui-color-text: var(--rp-ui-base-dark-e-50);
  --rp-ui-color-text-2: var(--rp-ui-base-dark-e-100);
  --rp-ui-color-text-3: var(--rp-ui-base-bg-000);
  --rp-ui-color-text-secondary: var(--rp-ui-base-dark-e-150);

  --rp-ui-color-field-bg: var(--rp-ui-base-dark-e-400);
  --rp-ui-color-field-bg-2: var(--rp-ui-base-dark-e-400);
  --rp-ui-color-field-bg-3: var(--rp-ui-base-dark-bg-solid-96);
  --rp-ui-color-field-bg-3-hover: var(--rp-ui-base-dark-e-500);
  --rp-ui-color-field-border: var(--rp-ui-base-dark-e-400);
  --rp-ui-color-field-border-2: var(--rp-ui-base-dark-e-100);
  --rp-ui-color-field-border-2-hover: var(--rp-ui-base-dark-e-50);
  --rp-ui-color-field-border-2-disabled: var(--rp-ui-base-dark-e-100);
  --rp-ui-color-field-border-3: var(--rp-ui-base-dark-e-200);
  --rp-ui-color-field-border-3-hover: var(--rp-ui-base-dark-e-150);
  --rp-ui-color-field-border-3-disabled: var(--rp-ui-base-dark-e-300);
  --rp-ui-color-field-hover: var(--rp-ui-base-e-200);
  --rp-ui-color-field-hover-2: var(--rp-ui-base-e-300);
  --rp-ui-color-field-opened: var(--rp-ui-base-e-200);
  --rp-ui-color-field-placeholder: var(--rp-ui-base-dark-e-200);
  --rp-ui-color-field-placeholder-3: var(--rp-ui-base-dark-e-200);
  --rp-ui-color-field-icon: var(--rp-ui-base-dark-e-50);

  --rp-ui-color-radio-checked: var(--rp-ui-base-dark-topaz-main);

  --rp-ui-color-disabled: var(--rp-ui-base-dark-e-200);

  --rp-ui-opacity-default: 50%;

  /* New Autocomplete themable colors */
  --rp-ui-divider-bg: var(--rp-ui-base-dark-e-200);
  --rp-ui-box-shadow: var(--rp-ui-base-shadow-secondary);
  --rp-ui-tag-key-text: var(--rp-ui-base-tag-key-text);
  --rp-ui-tag-key-bg: var(--rp-ui-base-tag-key-background);

  --rp-ui-tag-value-text: var(--rp-ui-base-tag-value-text);
  --rp-ui-tag-value-bg: var(--rp-ui-base-tag-value-background);

  --rp-validation-error-border: var(--rp-ui-base-sm-error-line-100);

  --rp-ui-highlight-unstored-item: var(--rp-ui-base-defect-type-AB);
}
