@import '@assets/styles/mixins/font-scale';

@mixin additional-text($color) {
  @include font-scale('s-small');
  display: block;
  font-family: var(--rp-ui-base-font-family);
  font-weight: var(--rp-ui-base-fw-regular);
  color: $color;
}

.text-area {
  @include font-scale();
  width: 100%;
  min-height: 72px;
  padding: 9px 12px 7px;
  outline: none;
  border: 1px solid var(--rp-ui-base-e-200);
  border-radius: 3px;
  box-sizing: border-box;
  font-family: var(--rp-ui-base-font-family);
  font-weight: var(--rp-ui-base-fw-regular);
  color: var(--rp-ui-base-almost-black);
  resize: vertical;

  &:hover {
    border-color: var(--rp-ui-base-e-300);
  }

  &:focus:not(.error.touched) {
    border: 1px solid var(--rp-ui-base-topaz-hover);
    box-shadow: 0 0 0 1px var(--rp-ui-base-topaz-hover);
  }

  &.error.touched {
    border: 1px solid var(--rp-ui-base-error);
  }

  &:focus:not(.error.touched),
  &.error.touched {
    & + .max-length-display {
      display: block;
    }
  }

  &::placeholder {
    color: var(--rp-ui-base-e-300);
  }

  &:has(~ .max-length-display) {
    padding-bottom: 24px;
  }
}

.additional-content {
  .error-text {
    @include additional-text(var(--rp-ui-base-error));
  }

  .help-text {
    @include additional-text(var(--rp-ui-base-e-300));
  }
}

.max-length-display {
  @include font-scale(s-small);
  position: absolute;
  margin-top: -29px;
  display: none;
  padding-left: 12px;
  font-family: var(--rp-ui-base-font-family);
  font-weight: var(--rp-ui-base-fw-regular);
  color: var(--rp-ui-base-e-300);
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}
