@import 'src/assets/styles/mixins/font-scale';

.breadcrumbs-container {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.breadcrumbs {
  flex-shrink: 1;
  min-width: 0;
  display: flex;
  align-items: center;
  height: 100%;

  .breadcrumb-item {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
    @include font-scale();

    &:not(.hidden-breadcrumbs) {
      flex: 1 1 auto;
      min-width: 0;
    }

    &.hidden-breadcrumbs {
      flex: 0 0 auto;
    }

    &:not(:last-child) {
      padding-right: 24px;

      &::after {
        position: absolute;
        right: 0;
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0 4px;
        background-image: url(../icons/svg/chevronRightBreadcrumbs.svg);
      }
    }

    &.back-button {
      &::before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 4px;
        background-image: url(../icons/svg/chevronRightBreadcrumbs.svg);
        transform: rotate(180deg);
      }
    }
  }
}
