@import 'src/assets/styles/mixins/font-scale';

.size-selector {
  display: flex;
  flex-direction: column;
}

.size-option {
  width: 100%;
  padding: 8px 16px;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;

  font-family: var(--rp-ui-base-font-family);
  font-weight: var(--rp-ui-base-fw-regular);
  @include font-scale();
  text-align: left;
  color: var(--rp-ui-base-almost-black);

  &:hover {
    background-color: var(--rp-ui-base-bg-200);
  }
  &.selected {
    color: var(--rp-ui-base-topaz);
    background-color: var(--rp-ui-base-topaz-100);
  }
}
